/vendor
/node_modules
/newrelic-app.ini
/.idea
/.vagrant
bin/
storage/
public/
Homestead.json
Homestead.yaml
composer.phar
composer-setup.php
.env
.php_cs.cache
yarn-error.log
error_log
/vendor
.mysql

